<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>myTasks Management</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css">
  </head>
  <body>

    <script src="../static/layui/layui.js"></script>

    <script>
      layui.config({
        base: '/static/js/modules/' //你存放新模块的目录，注意，不是layui的模块目录
      }).use('index'); //加载入口
    </script>    

  <div class="layui-container">  
  常规布局（以中型屏幕桌面为例）：
    <div class="layui-row">
      <div class="layui-col-lg2" style="background:#f2f2f2">
        你的内容 9/12
      </div>
      <div class="layui-col-lg8" style="background:#c2c2c2">
        你的内容 3/12
      </div>
      <div class="layui-col-lg2">
        你的内容 3/12
      </div>
    </div>
    <div class="layui-row">
      <div class="layui-col-lg12">
  <table class="layui-table">
    <colgroup>
      <col width="150">
      <col width="200">
      <col>
    </colgroup>
    <thead>
      <tr>
        <th>昵称</th>
        <th>加入时间</th>
        <th>签名</th>
      </tr> 
    </thead>
    <tbody>
      <tr>
        <td>贤心</td>
        <td>2016-11-29</td>
        <td>人生就像是一场修行</td>
      </tr>
      <tr>
        <td>许闲心</td>
        <td>2016-11-28</td>
        <td>于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野里…</td>
      </tr>
    </tbody>
  </table>
       </div>
    </div>
  </div>

  <form class="layui-form layui-form-pane" action="">
  <div class="layui-container">
    <div class="layui-form-item">
      <label class="layui-form-label">单行输入框</label>
      <div class="layui-input-block">
        <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input">
      </div>
    </div>
    <div class="layui-btn-group layui-col-lg-offset9">
      <button class="layui-btn" lay_filter="add">增加</button>
      <button class="layui-btn" lay_filter="edit">编辑</button>
      <button class="layui-btn">删除</button>
    </div>
  </div>
  </form>

  <script>
  layui.use(['form', 'layedit', 'laydate'], function(){
    var form = layui.form
    ,layedit = layui.layedit
    ,laydate = layui.laydate;
    console.log("enter:");
  //监听提交
    form.on('submit(add)', function(data){
      //layer.alert(JSON.stringify(data.field), {
      //  title: '最终的提交信息'
      console.log("test");
      });
      //return false;
    form.on('submit(edit)', function(data){
      console.log("edit");
    });
  });
  </script>
  </body>
</html>
